<% provide(:title, 'Tous Usagers') %>
<div class="container">

  <h1>Repertoire des Usagers</h1>
  <br/>
  <%= form_tag(users_path, :method => "get", id: "search-form") do %>
    <div class="columnbtn2">
      <%= text_field_tag :search, params[:search], placeholder: "Username ou Role" %>
      <br/>
      <%= submit_tag "Recherche", class: "btn btn-primary", :email => nil %>
    </div>
  <% end %>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <table class="table table-striped">
    <tr>
      <th>ID</th>
      <th>Username</th>
      <th>Role</th>
      <th>Email</th>
      <th>Membre depuis</th>
      <th></th>
      <th></th>

      <% @users = User.all %>
      <% if @users.present? %>
        <%= render @users %>
      <% else %>
        <p>Il n'y a pas de Users contenant l'information : <%= params[:search] %>.</p>
      <% end %>
    </tr>
  </table>
</div>