<% provide(:title, 'creerunlocal') %>
<h1>Créer un nouveau Local </h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@un_local) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :nom %>
      <%= f.text_field :nom, class: 'form-control' %>

      <%= f.label :qte_places %>
      <%= f.text_field :qte_places, class: 'form-control' %>

      <%= f.label "Si vous connaissez l'ID du point de service" %>
      <%= f.number_field :point_of_services_id, class: 'form-control' %>

      <%= f.submit "Créer Local", class: "btn btn-primary" %>

    <% end %>
  </div>
</div>
