<% provide(:title, 'Tous les points de services') %>
<div class="container">

  <% if current_page?(point_of_services_path) %>
    
    <h1>Tous les Points de Services</h1>
  
  <%= form_tag(point_of_services_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Nom ou Email" %>
    <%= submit_tag "Recherche", class: "btn btn-primary", :email => nil %>
  <% end %>
<% end %>
  <br/>
  <br/>
  <table class="table table-striped">
    <tr>
      <th>ID</th>
      <th>Nom</th>
      <th>Telephone</th>
      <th>Email</th>
      <th>Adresse</th>
      <th>ID Org.</th>
      <th></th>
      <th></th>

    <% if current_page?(point_of_services_path) %>
      <% if @point_of_services.present? %>
        <%= render @point_of_services %>
      <% else %>
        <p>Il n'y a pas de Points de Services contenant l'information : <%= params[:search] %>.</p>
      <% end %>
    <% else %>
        <%= render @point_of_services %>
    <% end %>
    </tr>
  </table>
</div>