<% provide(:title, @point_of_service.nom) %>

<div class="row">
  <h1>Point de service</h1>
  <hr>
  <hr>
  <aside class="col-md-12">
    <section>

      <div id="Nom" class="column">
        <h1>
          <font size="6">
            <strong>Nom : <a><%= @point_of_service.nom %></a></strong>
          </font>
        </h1>
        <font size="5">
          <strong>ID Point de Service : <a><%= @point_of_service.id %></a></strong>
        </font>
        <br/>
        <% if current_user.role == 'directeur' %>
          <%= link_to "Modifier Point de Service", edit_point_of_service_path(@point_of_service) %>
        <% end %>
      </div>

      <div id="Contact" class="column">
        <h1>
          <font size="5">
            <strong>Contact</strong>
          </font>
        </h1>
        <br/>
        <font size="2">
          <h1>Email : <a> <%= @point_of_service.email %> </a></h1>
          <h1>Tel. : <a> <%= @point_of_service.tel %> </a></h1>
          <h1>Fax : <a> <%= @point_of_service.fax %> </a></h1>
        </font>
      </div>

      <div id="Adresse" class="column">
        <h1>
          <font size="5">
            <strong>Adresse</strong>
          </font>
        </h1>
        <br/>
        <font size="2">
          <h1>No. : <a> <%= @point_of_service.no_civique %> </a></h1>
          <h1>Rue : <a> <%= @point_of_service.rue %> </a></h1>
          <h1>Ville: <a> <%= @point_of_service.ville %> </a></h1>
          <h1>Province : <a> <%= @point_of_service.province %> </a></h1>
          <h1>Code postal : <a> <%= @point_of_service.code_postal %> </a></h1>
          <br/>
        </font>
      </div>

      <div id="Relations" class="column">
        <hr>
        <h1>
          <font size="5">
            <strong>
              Les Locaux ( <%= @voslocaux %> )
            </strong>
          </font>
        </h1>
        <br/>

        <dev class="columnbtn">
          <%= button_to "Ajouter/Retirer Local", ajouter_retirer_local_point_of_service_path(@point_of_service), class: "btn btn-primary", method: :get %>
        </dev>
        <br/>
        <%= render template: 'un_locals/index' %>
        <hr>
        <h1>
          <font size="5">
            <strong>Appartient a l'Organisme : </strong>
          </font>
        </h1>
        <%= render template: 'organismes/index' %>

        <hr>
        <h1>
          <font size="5">
            <strong>Activite</strong>
          </font>
        </h1>
        <br/>
        <font size="2">
          <h1>Actif depuis : <a> <%= @point_of_service.created_at %> </a></h1>
          <h1>Derniere Mise a Jour : <a> <%= @point_of_service.updated_at %> </a></h1>
        </font>
      </div>

    </section>
  </aside>
</div>
