<% provide(:title, 'Tous les Organismes') %>
<div class="container">
  <% if current_page?(organismes_path) %>

    <h1>Tous les Organismes</h1> 

    <%= form_tag(organismes_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Nom ou Email" %>
      <%= submit_tag "Recherche", class: "btn btn-primary", :email => nil %>
    <% end %>
  <% end %>
  <br/>
  <br/>
  <table class="table table-striped">
    <tr>
      <th>ID</th>
      <th>Nom</th>
      <th>Telephone</th>
      <th>Email</th>
      <th>Adresse</th>
      <th>Actif</th>
      <th></th>
      <th></th>

    <% if current_page?(organisme_referents_path) %>
        <% if @organismes.present? %>
          <%= render @organismes %>
        <% else %>
          <p>Il n'y a pas d'Organisme contenant l'information : <%= params[:search] %>.</p>
        <% end %>
    <% else %>
      <%= render @organismes %>
    <% end %>    
    </tr>
  </table>
</div>