<% provide(:title, @organisme.nom) %>

<div class="row">
  <h1>Compte Organisme</h1>
  <hr>
  <hr>

  <aside class="col-md-12">
    <section>
      <div id="Nom" class="column">
        <h1>
          <font size="6">
            <strong>Nom : <a><%= @organisme.nom %></a></strong>
          </font>
        </h1>
        <font size="5">
          <strong>ID organisme : <a><%= @organisme.id %></a></strong>
        </font>
        <br/>
        <% if current_user.role == 'directeur' %>
          <%= link_to "Modifier organisme", edit_organisme_path(@organisme) %>
        <% end %>
      </div>

      <div id="Contact" class="column">
        <h1>
          <font size="5">
            <strong>Contact</strong>
          </font>
        </h1>
        <br/>
        <font size="2">
          <h1>Email : <a> <%= @organisme.email %> </a></h1>
          <h1>Tel. : <a> <%= @organisme.tel %> </a></h1>
          <h1>Fax : <a> <%= @organisme.fax %> </a></h1>
        </font>
      </div>

      <div id="Adresse" class="column">
        <h1>
          <font size="5">
            <strong>Adresse</strong>
          </font>
        </h1>
        <br/>
        <font size="2">
          <h1>No. : <a> <%= @organisme.no_civique %> </a></h1>
          <h1>Rue : <a> <%= @organisme.rue %> </a></h1>
          <h1>Ville: <a> <%= @organisme.ville %> </a></h1>
          <h1>Province : <a> <%= @organisme.province %> </a></h1>
          <h1>Code postal : <a> <%= @organisme.code_postal %> </a></h1>
          <br/>
        </font>
      </div>

      <div id="Relations" class="column">

      <hr>
      <h1>
        <font size="5">
          <strong>Relations: <a>Points de Services ( <%= @vospointservices %> )</a></strong>
        </font>
      </h1>
      <br/>

      <% if current_user.role == 'directeur' %>
        <dev class="columnbtn">
          <%= button_to "Ajouter/Retirer Point de Service", ajouter_retirer_point_service_organisme_path(@organisme), class: "btn btn-primary", method: :get %>
        </dev>
      <% end %>
      <%= render template: 'point_of_services/index' %>
      <hr>
      <h1>
        <font size="5">
          <strong>Relations: <a>Referents ( <%= @vosreferents %> )</a></strong>
        </font>
      </h1>
      <br/>

      <% if current_user.role == 'coordonateur' || current_user.role == 'directeur' %>
        <dev class="columnbtn">
          <%= button_to "Ajouter/Retirer Referent", ajouter_retirer_ref_organisme_path(@organisme), class: "btn btn-primary", method: :get %>
        </dev>
      <% end %>
      <%= render template: 'referents/index' %>
      <hr>

      <h1>
        <font size="5">
          <strong>Activité</strong>
        </font>
      </h1>
      <br/>
      <font size="2">
        <h1>Actif depuis : <a> <%= @organisme.created_at %> </a></h1>
        <h1>Derniere Mise a Jour : <a> <%= @organisme.updated_at %> </a></h1>
      </font>
      </div>
    </section>
  </aside>
</div>